# Core Sphinx Engine
sphinx==7.2.6

# Markdown Support (MyST Parser)
myst-parser==2.0.0

# Requirements and Traceability
sphinx-needs==3.0.0

# Optional: Interactive Visualizations (Graphviz)
# Used if you want to generate flowcharts of your requirements
#sphinxcontrib-needs-2-mermaid

# Optional: Theme and UI Helpers
sphinx-rtd-theme==2.0.0
sphinx-copybutton==0.5.2
furo
sphinxcontrib-plantuml
# Optional: Jira Integration (Advanced)
# If you want to pull data directly from Jira APIs during build
# requests==2.31.0